<!DOCTYPE html>
<html>

<head>
  <title>Example page</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav>
    <div style="display: flex; align-content: flex-end; ">
      <a style="margin: auto; color: aliceblue;" href="/register">Register</a>
      <a style="margin: auto; color: aliceblue;" href="/login">Login</a>
    </div>
  </nav>
  <h1>Welcome to my example page</h1>
  <a style="color: aliceblue;" href="/register">Go to REGISTER form</a>
  <a style="color: aliceblue;" href="/login"> or SIGN in</a>
</body>

</html>